<div class="bg-light">
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4">About Jungle</h1>
        <p class="lead text-muted mb-0">A mini e-commerce application built with Rails 4.2 for purposes of teaching Rails by example.</p>
      </div>
    </div>
  </div>
</div>

<div class="bg-light py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light">Our CEO</h2>
      </div>
    </div>
    <div class="row">
      <div class="bg-white rounded shadow-sm py-5 px-4"><img src="https://avatars.githubusercontent.com/u/96220507?v=4" alt="" width="300" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
        <h2 class="mb-0">Prince Requino</h2><span class="large text-uppercase text-muted">CEO - Founder</span>
        <ul class="social mb-0 list-inline mt-3">
          <li class="list-inline-item"><a href="https://github.com/princerequino" class="social-link"><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>